
.area-title{
  font-size: 30px;
  font-weight: bold;
}

.sub-area-title {
  font-size: 20px;
  font-weight: bold;
}


/*Grid text*/
.grid-text{
  font-size:10px;
}

.highlight.grid-text {
  font-weight: bold;
}
.agent-text{
  font-size:15px;

}
.highlight.agent-text {
  font-weight: bold;
}

/*Grid squares*/
.success{
  fill:rgb(30,200,10);
}
.fail{
  fill:rgb(200,30,10);
}
.unknown{
  fill:rgb(100,100,100);
}
.highlight.success {
  fill: rgb(30,255,10);
}
.highlight.fail {
  fill: rgb(255,30,10);
}
